*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
:root{
    --ibmPlex: "IBM Plex Sans", sans-serif;
    --inner: "Inter", sans-serif;
    --yellowtail: "Yellowtail", cursive;
    --primary:#222222;
    --bodyColor:#f1f1f1;
    --active:#FF9600;
    /* --active:#6B3F00; */
}
body{
    font-family: var(--ibmPlex);
    font-size: 18px;
    font-weight: 400;
    line-height: 0.8;
    color: var(--primary);
    background-color: var(--bodyColor);
}
.container{
    width: 1320px;
    margin: 0 auto;
    border: 0.1px dotted green;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
span{
    display: inline-block;
}
ol,ul{
    list-style-type: none;
}
.dGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, auto));
    justify-content: space-between;
}
.commonBtn{
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.commonBtn:hover{
    /* color: #2E0962; */
    color: #fff;
    background-color: var(--active);
}
/* NAV start */
#nav{
    width: 100%;
    padding-top: 10px;
    background: url("../images/bannerImmage.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 999999999;
}
#nav .dGrid{
    align-items: center;
}
#nav .menu{
    display: grid;
    grid-template-columns: repeat(5, minmax(10px, auto));
    justify-content: center;
    column-gap: 60px;
    color:#fff;
    text-transform: capitalize;
}
#nav .menu li a:hover{
    color: var(--active);
}
#nav .active{
    /* color: #fff; */
    color: #2E0962;
    background-color: var(--active);
}
/* NAV end */

/* banner start */
#banner {
    background: url("../images/bannerImmage.png");
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 260px 0 135px;
    position: relative;
}
#banner .container{
    position: relative;
    z-index: 2;
}
#banner .title{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 0 225px;
    line-height: 1.4;
}
#banner .buttons{
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, auto));
    justify-content: center;
    column-gap: 57px;
    margin-top: 50px;
}
#banner .bannerIllustration{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* banner end */

/* counter start */
#counter{
    padding: 500px 0;
}
/* counter end */