*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --ibmPlex: "IBM Plex Sans", sans-serif;
    --inner: "Inter", sans-serif;
    --bodyColor:#f1f1f1
}
body{
    font-family: var(--ibmPlex);
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    background-color: var(--bodyColor);
}
.container{
    width: 1320px;
    margin: 0 auto;
    border: 0.1px dotted green;
}
a{
    text-decoration: none;
    display: inline-block;
}
span{
    display: inline-block;
}
ol,ul{
    list-style-type: none;
}
.dGrid{
    display: grid;
}